@use '../variables/spacing' as *;

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-3 $space-4;
}

.header__search {
  max-width: max-content;
  margin: 0 auto;
}

.header__profile {
  font-size: $space-9;
}

.collapsible-menu {
  position: static;
}

.collapse-menu-toggle {
  appearance: none;
  display: none;
}

@media (max-width: 600px) {
  .collapse-menu-toggle {
    display: inline;
  }

  .collapsible-menu {
    border-radius: var(--space-xsm);
    border: none;
    display: none;
    position: absolute;
    z-index: 1000;
    background: var(--clr-bg);
  }

  .collapsible-menu[data-visible='true'] {
    display: block;
  }
}
