/**
    Navigation
*/

.navbar {
    width: 100%;

    & > .nav--vertical {
        padding-block: var(--space-sm);
    }
}

.nav {
    display: flex;

    &--vertical {
        flex-direction: column;
        height: 100%;
    }
}

.nav__item {
    border-radius: 4px;

    &:last-of-type {
        margin-top: auto;
        margin-bottom: var(--space-reg);
    }
}

.nav__item__link {
    --fs: var(--fs-sm);
    display: flex;
    flex-direction: column;
    gap: var(--space-xsm);
    color: var(--clr-text-mute);
    padding: var(--space-xsm);
    cursor: pointer;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: var(--fs);

    & > fa-icon {
        font-size: 1.1rem;
    }

    &:hover {
        color: var(--clr-primary);
    }

    &.active {
        background: var(--clr-bg-elevated);
        position: relative;
        color: var(--clr-text);

        &::after {
            content: "";
            position: absolute;
            left: var(--space-xsm);
            top: 0;
            height: 100%;
            width: 2px;
            background: var(--clr-primary);
        }
    }
}

.nav__toggle {
    display: none;
}

@media (max-width: 600px) {
    .navbar {
        & > .nav--vertical {
            border-top: 1px solid var(--clr-primary);
            border-right: none;
            padding: 0;
        }
    }

    .nav,
    .nav--vertical {
        flex-direction: row;
        justify-content: space-evenly;
        gap: var(--space-reg);
    }

    .nav__item {
        flex: 1;

        &:last-of-type {
            margin: 0;
        }
    }

    .nav__item__link.active::after {
        top: unset;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
    }

    .nav__toggle {
        display: none;
    }
}
