$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);

/**
* Light mode
*/
$text-50-l: hsl(7, 31%, 95%);
$text-100-l: hsl(7, 33%, 90%);
$text-200-l: hsl(4, 31%, 80%);
$text-300-l: hsl(5, 32%, 70%);
$text-400-l: hsl(5, 32%, 60%);
$text-500-l: hsl(5, 32%, 50%);
$text-600-l: hsl(5, 32%, 40%);
$text-700-l: hsl(5, 32%, 30%);
$text-800-l: hsl(4, 31%, 20%);
$text-900-l: hsl(7, 33%, 10%);
$text-950-l: hsl(0, 31%, 5%);

$background-100-l: hsl(0, 0%, 95%);
$background-200-l: hsl(0, 0%, 85%);
$background-300-l: hsl(0, 0%, 75%);
$background-400-l: hsl(0, 0%, 65%);
$background-500-l: hsl(0, 0%, 55%);
$background-600-l: hsl(0, 0%, 45%);
$background-700-l: hsl(0, 0%, 35%);
$background-800-l: hsl(0, 0%, 25%);
$background-900-l: hsl(0, 0%, 15%);
$background-950-l: hsl(0, 0%, 5%);

$primary-50-l: hsl(7, 31%, 95%);
$primary-100-l: hsl(7, 33%, 90%);
$primary-200-l: hsl(7, 33%, 80%);
$primary-300-l: hsl(6, 33%, 70%);
$primary-400-l: hsl(6, 33%, 60%);
$primary-500-l: hsl(6, 33%, 50%);
$primary-600-l: hsl(6, 33%, 40%);
$primary-700-l: hsl(6, 33%, 30%);
$primary-800-l: hsl(7, 33%, 20%);
$primary-900-l: hsl(7, 33%, 10%);
$primary-950-l: hsl(0, 31%, 5%);

$secondary-50-l: hsl(37, 31%, 95%);
$secondary-100-l: hsl(35, 33%, 90%);
$secondary-200-l: hsl(37, 33%, 80%);
$secondary-300-l: hsl(36, 33%, 70%);
$secondary-400-l: hsl(37, 33%, 60%);
$secondary-500-l: hsl(37, 33%, 50%);
$secondary-600-l: hsl(37, 33%, 40%);
$secondary-700-l: hsl(36, 33%, 30%);
$secondary-800-l: hsl(37, 33%, 20%);
$secondary-900-l: hsl(35, 33%, 10%);
$secondary-950-l: hsl(38, 31%, 5%);

$accent-50-l: hsl(53, 31%, 95%);
$accent-100-l: hsl(46, 33%, 90%);
$accent-200-l: hsl(48, 33%, 80%);
$accent-300-l: hsl(47, 33%, 70%);
$accent-400-l: hsl(47, 33%, 60%);
$accent-500-l: hsl(47, 33%, 50%);
$accent-600-l: hsl(47, 33%, 40%);
$accent-700-l: hsl(47, 33%, 30%);
$accent-800-l: hsl(48, 33%, 20%);
$accent-900-l: hsl(46, 33%, 10%);
$accent-950-l: hsl(45, 31%, 5%);


/** Dark mode */
$text-50-d: hsl(0, 31%, 5%);
$text-100-d: hsl(4, 33%, 10%);
$text-200-d: hsl(5, 33%, 20%);
$text-300-d: hsl(5, 33%, 30%);
$text-400-d: hsl(5, 33%, 40%);
$text-500-d: hsl(5, 33%, 50%);
$text-600-d: hsl(5, 33%, 60%);
$text-700-d: hsl(5, 33%, 70%);
$text-800-d: hsl(5, 33%, 80%);
$text-900-d: hsl(4, 33%, 90%);
$text-950-d: hsl(7, 31%, 95%);

$background-100-d: hsl(0, 0%, 05%);
$background-200-d: hsl(0, 0%, 15%);
$background-300-d: hsl(0, 0%, 25%);
$background-400-d: hsl(0, 0%, 35%);
$background-500-d: hsl(0, 0%, 45%);
$background-600-d: hsl(0, 0%, 55%);
$background-700-d: hsl(0, 0%, 65%);
$background-800-d: hsl(0, 0%, 75%);
$background-900-d: hsl(0, 0%, 85%);
$background-950-d: hsl(0, 0%, 95%);

$primary-50-d: hsl(0, 31%, 5%);
$primary-100-d: hsl(7, 33%, 10%);
$primary-200-d: hsl(7, 33%, 20%);
$primary-300-d: hsl(6, 33%, 30%);
$primary-400-d: hsl(6, 33%, 40%);
$primary-500-d: hsl(6, 33%, 50%);
$primary-600-d: hsl(6, 33%, 60%);
$primary-700-d: hsl(6, 33%, 70%);
$primary-800-d: hsl(7, 33%, 80%);
$primary-900-d: hsl(7, 33%, 90%);
$primary-950-d: hsl(7, 31%, 95%);

$secondary-50-d: hsl(38, 31%, 5%);
$secondary-100-d: hsl(35, 33%, 10%);
$secondary-200-d: hsl(37, 33%, 20%);
$secondary-300-d: hsl(36, 33%, 30%);
$secondary-400-d: hsl(37, 33%, 40%);
$secondary-500-d: hsl(37, 33%, 50%);
$secondary-600-d: hsl(37, 33%, 60%);
$secondary-700-d: hsl(36, 33%, 70%);
$secondary-800-d: hsl(37, 33%, 80%);
$secondary-900-d: hsl(35, 33%, 90%);
$secondary-950-d: hsl(37, 31%, 95%);

$accent-50-d: hsl(45, 31%, 5%);
$accent-100-d: hsl(46, 33%, 10%);
$accent-200-d: hsl(48, 33%, 20%);
$accent-300-d: hsl(47, 33%, 30%);
$accent-400-d: hsl(47, 33%, 40%);
$accent-500-d: hsl(47, 33%, 50%);
$accent-600-d: hsl(47, 33%, 60%);
$accent-700-d: hsl(47, 33%, 70%);
$accent-800-d: hsl(48, 33%, 80%);
$accent-900-d: hsl(46, 33%, 90%);
$accent-950-d: hsl(53, 31%, 95%);

$light: (
    "neutral": (
        "000": $white,
        "100": $background-100-l,
        "200": $background-200-l,
        "300": $background-300-l,
        "400": $background-400-l,
        "500": $background-500-l,
        "600": $background-600-l,
        "700": $background-700-l,
        "800": $background-800-l,
        "900": $background-900-l,
    ),
    "primary": (
        "50": $primary-50-l,
        "100": $primary-100-l,
        "200": $primary-200-l,
        "300": $primary-300-l,
        "400": $primary-400-l,
        "500": $primary-500-l,
        "600": $primary-600-l,
        "700": $primary-700-l,
        "800": $primary-800-l,
        "900": $primary-900-l,
    ),

    "secondary": (
        "50": $secondary-50-l,
        "100": $secondary-100-l,
        "200": $secondary-200-l,
        "300": $secondary-300-l,
        "400": $secondary-400-l,
        "500": $secondary-500-l,
        "600": $secondary-600-l,
        "700": $secondary-700-l,
        "800": $secondary-800-l,
        "900": $secondary-900-l,
    ),
    "accent": (
        "50": $accent-50-l,
        "100": $accent-100-l,
        "200": $accent-200-l,
        "300": $accent-300-l,
        "400": $accent-400-l,
        "500": $accent-500-l,
        "600": $accent-600-l,
        "700": $accent-700-l,
        "800": $accent-800-l,
        "900": $accent-900-l,
    ),
);

$dark: (
    "neutral": (
        "000": $black,
        "100": $background-100-d,
        "200": $background-200-d,
        "300": $background-300-d,
        "400": $background-400-d,
        "500": $background-500-d,
        "600": $background-600-d,
        "700": $background-700-d,
        "800": $background-800-d,
        "900": $background-900-d,
    ),
    "primary": (
        "50": $primary-50-d,
        "100": $primary-100-d,
        "200": $primary-200-d,
        "300": $primary-300-d,
        "400": $primary-400-d,
        "500": $primary-500-d,
        "600": $primary-600-d,
        "700": $primary-700-d,
        "800": $primary-800-d,
        "900": $primary-900-d,
    ),
    "secondary": (
        "50": $secondary-50-d,
        "100": $secondary-100-d,
        "200": $secondary-200-d,
        "300": $secondary-300-d,
        "400": $secondary-400-d,
        "500": $secondary-500-d,
        "600": $secondary-600-d,
        "700": $secondary-700-d,
        "800": $secondary-800-d,
        "900": $secondary-900-d,
    ),
    "accent": (
        "50": $accent-50-d,
        "100": $accent-100-d,
        "200": $accent-200-d,
        "300": $accent-300-d,
        "400": $accent-400-d,
        "500": $accent-500-d,
        "600": $accent-600-d,
        "700": $accent-700-d,
        "800": $accent-800-d,
        "900": $accent-900-d,
    ),
);
