$font-size--2: clamp(0.5642rem, 0.5506rem + 0.0681vw, 0.64rem);
$font-size--1: clamp(0.6771rem, 0.655rem + 0.1105vw, 0.8rem);
$font-size-0: clamp(0.8125rem, 0.7788rem + 0.1685vw, 1rem);
$font-size-1: clamp(0.975rem, 0.9256rem + 0.2472vw, 1.25rem);
$font-size-2: clamp(1.17rem, 1.0994rem + 0.3528vw, 1.5625rem);
$font-size-3: clamp(1.404rem, 1.3053rem + 0.4936vw, 1.9531rem);
$font-size-4: clamp(1.6848rem, 1.5488rem + 0.6801vw, 2.4414rem);
$font-size-5: clamp(2.0218rem, 1.8366rem + 0.9258vw, 3.0518rem);

